.dash{

   width: 100%;
    padding: 25px;
    
    
}
.dash ul{
    display:flex;
    justify-content:center ;
    text-decoration: none;
    list-style:none;
    color: #222526;
    text-align: center;
    background-color: transparent;
    width: 90%;
    gap: 250px;
}