* {
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fbfbfb;
    box-shadow: 0 8px 0 0 #f4f6ff;
    padding: 15px;
}
.nav div {
    display: inline;
    margin: 50px;
}

.item a {
    text-decoration: none;
    padding: 26px;
    border-radius: 13px;
    display: inline-block;
    
}
.item a.active {
    background-color: rgb(102, 193, 239); /* Active background color */
    color: white; /* Active text color */
    padding: 23px;
    width: 180px;
    text-align: center;
}
.content{
    width: 100vw;
}
